.personalInformation{
  
    width: 60%;
    border-right: 1px solid;
    
}

.aboutMe{
    
    height: 100%;
}

.skills{
    
    height: 100%;
    border-top: 1px solid;
}

.splitLeftSide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}